.container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* Avoid horizontal scroll on small screens */
}


.text01 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
    display: inline-block;
    position: relative;
}

.chuck-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: var(--dl-space-space-unit);
    width: auto;
    height: auto;
}

.chuck-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: var(--dl-space-space-fourunits);
    margin-left: var(--dl-space-space-sixunits);
    margin-right: var(--dl-space-space-sixunits);
    width: auto;
    height: auto;
    flex: 1;
}

.chuck-titles01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chuck-container .chuck-text01 {
    color: #000;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
}

.chuck-texts01 {
    color: #000;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 150% */
    width: fit-content;
    margin-bottom: var(--dl-space-space-fourunits);
}

.hidden-text-chuck {
    display: none;
    font-size: 20px;
}

.chuck-texts02 {
    color: #000;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

.chuck-pic {
    width: auto;
    height: auto;
    flex: 1;
}

.socials {
    display: flex;
    align-self: flex-end;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    margin-bottom: 64px;
}

.footer {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}

.footer-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    flex-direction: column;
}

.footer-text {
    color: #51B46B;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.footer-text71 {
    margin-top: var(--dl-space-space-halfunit);
}


.footer-container35 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text80 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text80:hover {
    color: #51B46B;
}

.footer-text81 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text81:hover {
    color: #51B46B;
}

.footer-text82 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text82:hover {
    color: #51B46B;
}

.footer-company-container {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10rem;
}

.footer-text83 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text83:hover {
    color: #51B46B;
}

.footer-text84 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text84:hover {
    color: #51B46B;
}

.footer-text85 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text85:hover {
    color: #51B46B;
}

.footer-text86 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text86:hover {
    color: #51B46B;
}

.footer-text87 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text87:hover {
    color: #51B46B;
}

.footer-text90 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-unit);
}

.footer-text90:hover {
    color: #51B46B;
}

.footer-separator {
    width: 100%;
    height: 1px;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-gray-900);
}

.footer-text91 {
    align-self: flex-start;
}

.footer-container36 {
    display: flex;
    align-self: flex-end;
    align-items: flex-start;
}

.footer-twitter {
    margin-right: var(--dl-space-space-unit);
    filter: grayscale(100%);
}

.footer-link {
    filter: grayscale(100%);
}

.footer-twitter:hover {
    filter: grayscale(0%);
}

.footer-link:hover {
    filter: grayscale(0%);
}

.page-end {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .chuck-container {
        flex-direction: column;
        align-items: center;
    }

    .chuck-titles {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-top: 2rem;
    }

    .chuck-texts01 {
        display: none;
        margin-bottom: 0rem;
    }
    .hidden-text-chuck {
        display: block;
    }

    .chuck-titles01 {
        flex-direction: column;
        align-items: center;
    }

    .chuck-texts02 {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .chuck-pic {
        width: 100%;
        /* Adjust image width to fit smaller screens */
        height: auto;
    }

    .socials {
        justify-content: center;
        margin-bottom: 3rem;
        align-self: center;
        margin-top: 1rem;
    }

    .footer {
        padding: var(--dl-space-space-unit);
    }

    .footer-container {
        align-items: center;
        flex-direction: column;
    }

    .footer-text71 {
        margin-bottom: var(--dl-space-space-twounits);
    }

    .footer-container35 {
        margin-right: 0px;
    }

    .footer-company-container {
        margin-right: 3rem;
    }

    .team-text45 {
        text-align: center;
    }

    .footer-logo {
        width: 100%;
  padding-top: 1rem;
    }
}

[data-aos="move"] {
    transform: translate3d(0px, 0px, 0px) scale3d(0.97, 0.97, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 0;
    transition: 2s opacity;
    transform-style: preserve-3d, opacity;
  }
  [data-aos="move"].aos-animate {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
  }